/Barista.class
/ConcreteSelectionBehavior.class
/ControllerManager$1.class
/ControllerManager.class
/JSONManager.class
/MachineSelectionBehavior.class
/NotificationManager.class
/Observer.class
/Subject.class
